.snow-container {
  position: absolute;
  height:794px;
  width: 100%;
  max-width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;

}
.snow-container.two {
    height: 440px;
}
.snow {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-animation: snow linear infinite;
          animation: snow linear infinite;
}

.snow.background.layered {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
  }
}

@keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
  }
}

@media (max-width: 1366px){
  .snow-container {
		position: absolute;
		height: 628px;
	}
	
}
@media (max-width:1280px){
	.snow-container {
		position: absolute;
		height: 578px;
	}
}
@media (max-width:1080px){
	.snow-container {
		position: absolute;
		height: 498px;
	}
}
@media (max-width:1054px){
	
}
@media (max-width:1024px){

}
@media (max-width:991px){
	.snow-container.two {
		height: 365px;
	}

}
@media (max-width:800px){

	.snow-container {
		position: absolute;
		height: 375px;
	}
	.snow-container.two {
		height: 352px;
	}
}
@media (max-width:768px){
	.snow-container {
		position: absolute;
		height: 373px;
	}
}
@media (max-width:640px){
	
}
@media (max-width: 480px){
	
}
@media (max-width: 414px){

}
@media (max-width: 384px){

}
